.topFooter {
    display: flex;
    border-bottom: 1px solid white;

    @media (max-width: 500px) {
        flex-direction: column;
    }
}

.inputStyle {
    height: 40px;
    font-size: 25px;
    outline: none;
    @media (max-width: 500px) {
        width: 280px;
    }
}

.subscribeSectionStyle{
    width:50%;
    text-align:left;
    @media (max-width: 500px) {
        width:100%;
    }

}